.MuiAutocomplete-hasPopupIcon.css-1p54uo5-MuiAutocomplete-root .MuiOutlinedInput-root, .MuiAutocomplete-hasClearIcon.css-1p54uo5-MuiAutocomplete-root .MuiOutlinedInput-root {
    /* padding-right: 39px; */
    background: #FFFFFF !important;
border: 1px solid #DEDEDE !important;
border-radius: 5px !important;
height: 50px !important;
}

@media screen and (max-width: 768px) {
    .MuiAutocomplete-hasPopupIcon.css-1p54uo5-MuiAutocomplete-root .MuiOutlinedInput-root, .MuiAutocomplete-hasClearIcon.css-1p54uo5-MuiAutocomplete-root .MuiOutlinedInput-root {
        height: 50px !important;
    }
}
    
