.team h2 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 51px;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .team h2 {
       text-align: center;
    }
}

@media screen and (max-width: 1100px) and (min-width: 768px){
    .team h2 {
        text-align: center;
    }
}
    
