.nft-content{
    display: flex;
    justify-content: space-between;
    padding: 5px 2px;
    padding-left: 20px;
    margin-top: 2rem;
    align-items: center;
}

.card_nft{
    justify-content: center;
}

.nft-content h2 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 51px;
    text-align: center;
    /* identical to box height */


    color: #000000;

}



@media screen and (max-width: 768px) {
    .nft-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
}
    
